html {
    background-color: #F5F5F5 ;
}

.main {
    position: absolute;
    top: 47px;
    left: 47px;
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
    line-height: 58px;
    color: #000000;
    z-index: 10;
}

.a {
    position: absolute;
    top: 58px;
    left: 340px;
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    z-index: 10;
}

.ecoli {
    position: absolute;
}

